# Daml build artifacts
.daml/
daml-packages/*/.daml/

# Logs
log/

# TypeScript
node_modules/
test/dist/
ts-packages/canton-sig/dist/
ts-packages/canton-sig/generated/

# Secrets
**/.env

# OS
.DS_Store

# npm
*.tgz
